Repository toku-chan/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: ファイル名を変更
  src/app/(RootComponents)/(Navigation)/index.test.tsx
  src/app/(RootComponents)/(Navigation)/index.tsx
  src/app/layout.tsx
Due: prettier --write, eslint --fix

chore: add materialUI
  package-lock.json
  package.json
Due: prettier --write

chore: add materialUI icons
  package-lock.json
  package.json
Due: prettier --write

fix: configをdesignSystemディレクトリに移動
  src/app/(RootComponents)/RestStyled.tsx
  src/config.ts
  src/designSystem/config.ts
Due: prettier --write, eslint --fix

chore: Headingのstyle管理をmaterialUIに任せる
  src/designSystem/Typography/index.tsx
  src/designSystem/index.ts
  src/feature/Heading/Heading.tsx
  src/feature/Heading/index.ts
Due: prettier --write, eslint --fix

remove: 利用していないのでSectionを削除
  src/feature/Section/index.tsx
Due: prettier --write, eslint --fix

chore: Typograhyのthemeを変更
  src/app/(RootComponents)/Theme.ts
  src/app/layout.tsx
Due: prettier --write, eslint --fix

chore: ProductsにdesignSystemを適用してみる
  src/app/products/(note)/index.tsx
  src/app/products/page.tsx
Due: prettier --write, eslint --fix

fix: GETに返り値の型を追加
  src/app/api/route.ts
Due: prettier --write, eslint --fix

fix: 返り値をなくし、redirectにして一時的なエラー回避を行う
  src/app/api/route.ts
Due: prettier --write, eslint --fix

chore: tool-versionsを追加
  .tool-versions
Due: none

fix: renoveの定義を修正
  renovate.json5
Due: none

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.md)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
