Repository toku-chan/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"]
}

chore: eslintにprettier適用、prettierの設定も調整
  .eslintrc.json
  .prettierignore
  package-lock.json
  package.json
Due: prettier --write

chore: 固定バージョンに指定
  package-lock.json
  package.json
Due: prettier --write

chore: renovateの設定を変更
  renovate.json
  renovate.json5
Due: prettier --write

chore: install jest, testing-library, type/jest etc...
  package-lock.json
  package.json
Due: prettier --write

chore: jest.config.jsを作成
  jest.config.js
Due: none

chore: lint-stagedの設定を修正
  .lintstagedrc
Due: none

chore: jest.config.jsを作成
  jest.config.mjs
  jest.setup.mjs
  package.json
Due: prettier --write

chore: お試しでテストを追加
  src/feature/Skills/Skills.test.tsx
  src/feature/Skills/Skills.tsx
Due: prettier --write, eslint --fix

chore: next/jestでtsの解析ができるので不要パッケージを削除
  package-lock.json
  package.json
Due: prettier --write

chore: TodoList.mdの内容を更新
  src/TodoList.md
Due: prettier --write

chore: tsconfigの内容を更新
  tsconfig.json
Due: prettier --write

chore: pages/index.tsxからapp/page.tsxに変更
  app/home-page.tsx
  app/layout.tsx
  app/page.tsx
  pages/index.tsx
Due: prettier --write, eslint --fix

chore: apiのディレクトリを変更
  app/api/route.ts
  pages/api/hello.ts
Due: prettier --write, eslint --fix

chore: _app.tsxを脱却
  app/layout.tsx
  app/page.tsx
  pages/_app.tsx
Due: prettier --write, eslint --fix

chore: RestStyledComponentを作成、metadataをlayoutに戻す
  app/RestStyledComponent.tsx
  app/layout.tsx
  app/page.tsx
Due: prettier --write, eslint --fix

chore: pagesディレクトリ脱却
  app/contact/contact-page.tsx
  app/contact/page.tsx
  app/products/page.tsx
  app/products/product-page.tsx
  pages/about/index.tsx
  pages/contact/index.tsx
Due: prettier --write, eslint --fix

chire: cacheを有効化
  .github/workflows/build.yml
Due: none

chore: 暫定対応でapi/route.tsを修正
  app/api/route.ts
Due: prettier --write, eslint --fix

chore: Navigationを作成
  app/home-page.tsx
  app/layout.tsx
  app/ui/Navigation.tsx
  app/ui/config.ts
Due: prettier --write, eslint --fix

chore: 構造の作り直し components, design-systemを削除
  src/components/Footer/index.tsx
  src/components/Header/index.tsx
  src/components/Layout/index.tsx
  src/designSystems/Heading/index.tsx
  src/designSystems/constants/Spacing.ts
  src/designSystems/index.ts
  src/feature/Home/Career/Career.tsx
  src/feature/Home/Personal/index.tsx
  src/feature/Home/index.tsx
  src/feature/Products/EXNOA/index.tsx
  src/feature/Products/Ys/index.tsx
  src/feature/Products/index.tsx
  src/feature/Skills/Skills.tsx
Due: prettier --write, eslint --fix

chore: Headerをfeatureとして管理する
  app/layout.tsx
  app/ui/Navigation.tsx
  src/feature/common/Header/Header.tsx
  src/feature/common/Header/Navigation/Navigation.tsx
  src/feature/common/Header/Navigation/config.ts
  src/feature/common/Header/Navigation/index.ts
  src/feature/common/Header/index.ts
  src/feature/common/README.md
Due: prettier --write, eslint --fix

chore: 既存のコードで不要な記述、一旦のオミットを対応
  src/feature/About/About/index.tsx
  src/feature/About/Interest/Detail/BassGuitar.tsx
  src/feature/About/Interest/Detail/Camping.tsx
  src/feature/About/Interest/Detail/Games.tsx
  src/feature/About/Interest/Detail/WinterSports.tsx
  src/feature/About/Interest/Detail/index.tsx
  src/feature/About/Interest/index.tsx
  src/feature/About/index.tsx
  src/feature/About/styles.ts
  src/feature/Contact/index.tsx
  src/feature/Home/Career/config.ts
  src/feature/Home/index.tsx
Due: prettier --write, eslint --fix

chore: 共通layoutの実装
  app/layout.tsx
  src/feature/common/Footer/Footer.tsx
  src/feature/common/Footer/index.ts
  src/feature/common/Header/Header.tsx
Due: prettier --write, eslint --fix

chore: layoutで利用しているheader, footerはappに戻す
  app/layout.tsx
  app/ui/Footer/Footer.tsx
  app/ui/Footer/index.ts
  app/ui/Header/Header.tsx
  app/ui/Header/Navigation/Navigation.tsx
  app/ui/Header/Navigation/config.ts
  app/ui/Header/Navigation/index.ts
  app/ui/Header/index.ts
  src/feature/common/Footer/Footer.tsx
Due: prettier --write, eslint --fix

chore: common/README.mdを削除
  src/feature/common/README.md
Due: prettier --write

chore: header周りを修正
  app/ui/Header/Header.tsx
  src/feature/Navigation/Navigation.tsx
  src/feature/Navigation/config.ts
  src/feature/Navigation/index.ts
  src/feature/Title/Title.tsx
  src/feature/Title/index.ts
Due: prettier --write, eslint --fix

chore: font-familyを追加
  app/RestStyledComponent.tsx
Due: prettier --write, eslint --fix

chore: 共通layout.tsxを修正
  app/layout.tsx
Due: prettier --write, eslint --fix

chore: app/ui/footerを修正
  app/ui/Footer/Footer.tsx
Due: prettier --write, eslint --fix

chore: 不要なdivタグを削除
  app/RestStyledComponent.tsx
Due: prettier --write, eslint --fix

chore: Footerを最下部に固定
  app/RestStyledComponent.tsx
  app/ui/Footer/Footer.tsx
  app/ui/Header/Header.tsx
Due: prettier --write, eslint --fix

chore: layoutの調整
  app/RestStyledComponent.tsx
  app/layout.tsx
  app/ui/Header/Header.tsx
  app/ui/MainContent/MainContent.tsx
  app/ui/MainContent/index.ts
Due: prettier --write, eslint --fix

chore: 管理ディレクトリを変更
  app/layout.tsx
  src/feature/Layout/Footer/Footer.tsx
  src/feature/Layout/Footer/index.ts
  src/feature/Layout/Header/Header.tsx
  src/feature/Layout/Header/index.ts
  src/feature/Layout/MainContent/MainContent.tsx
  src/feature/Layout/MainContent/index.ts
Due: prettier --write, eslint --fix

chore: configを設定
  src/config.ts
Due: prettier --write, eslint --fix

chore: 使用感を確認するためのテスト実装
  src/feature/Title/Title.tsx
Due: prettier --write, eslint --fix

chore: 共通設定を追加
  src/config.ts
Due: prettier --write, eslint --fix

chore: Footerスタイルを修正
  src/feature/Layout/Footer/Footer.tsx
Due: prettier --write, eslint --fix

chore: Mainスタイルを修正
  src/feature/Layout/MainContent/MainContent.tsx
Due: prettier --write, eslint --fix

chore: 共通Headerコンポーネントを修正
  src/feature/Layout/Header/Header.tsx
  src/feature/Layout/Header/Logo/Logo.tsx
  src/feature/Layout/Header/Logo/index.ts
  src/feature/Layout/Header/Navigation/Navigation.tsx
  src/feature/Layout/Header/Navigation/config.ts
  src/feature/Layout/Header/Navigation/index.ts
  src/feature/Title/index.ts
Due: prettier --write, eslint --fix
